@CHARSET "UTF-8";

H1 {
	font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
 	margin: 0;
 	padding: 0;
 	
	text-decoration: none;
	color: #000;
	display: block;
	
	-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
	-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
	-o-transition: font-size 0.3s ease, background-color 0.3s ease;
	-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
	transition: font-size 0.3s ease, background-color 0.3s ease;
	
  	background: #e6e6e6;
}

h2 {
	font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
}

P {
	font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
	border-bottom: 1px solid #ccc;
}

#gradient-style {
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
    font-size: 12px;
    margin: 20px;
    text-align: left;
    /*width: 480px;*/
}
#gradient-style th {
    background: url("./images/gradhead.png") repeat-x scroll 0 0 #B9C9FE;
    border-bottom: 1px solid #FFFFFF;
    border-top: 2px solid #D3DDFF;
    color: #003399;
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
}
#gradient-style td {
    background: url("./images/gradback.png") repeat-x scroll 0 0 #E8EDFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: #666699;
    padding: 8px;
}
#gradient-style tfoot tr td {
    background: none repeat scroll 0 0 #E8EDFF;
    color: #9999CC;
    font-size: 12px;
}
#gradient-style tbody tr:hover td {
    background: url("./images/gradhover.png") repeat-x scroll 0 0 #D0DAFD;
    color: #333399;
}

a {
	text-decoration: none;
	font-family: "Verdana", "sans-serif";
}

form {
    margin-left: 10px;
}
div.field, .checkbox {
    margin-bottom: 12px;
}
div.field label {
    color: #333333;
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
}
div.field label span {
    color: #990000 !important;
    font-weight: normal;
}
div.field .note {
    color: #666666;
    display: block;
    font-size: 11px;
    margin-top: 4px;
}
div.submit {
    margin-bottom: 12px;
}
div.submit input, input.submit {
    background-color: #333333;
    border: 1px outset #000000;
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px 6px;
}
.checkbox label {
    font-size: 12px;
    margin-left: 4px;
}
.textfield {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("./images/textfield.jpg") repeat-x scroll 0 0 #FFFFFF;
    border-color: #999999 #CCCCCC #CCCCCC #999999;
    border-image: none;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #444444;
    padding: 4px;
}
.textfield:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999999 #CCCCCC #CCCCCC #999999;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #000000;
}
.big {
    width: 390px;
}
.medium {
    width: 180px;
}
.small {
    width: 60px;
}
.error {
    background-color: #FFF2F2;
    color: #990000;
    margin-bottom: 12px;
    padding: 4px;
}
.error p {
    line-height: normal !important;
    margin: 0 !important;
    padding: 0 !important;
}
.error p, .error a, .error li {
    color: #990000;
}
.success {
    background-color: #E1F7E8;
    color: #009933;
    margin-bottom: 12px;
    padding: 4px;
}
.success p {
    line-height: normal !important;
    margin: 0 !important;
    padding: 0 !important;
}
.success p, .success a, .success li {
    color: #009933;
}
.btn.large {
    border-radius: 6px 6px 6px 6px !important;
    font-size: 15px !important;
    line-height: normal !important;
    padding: 9px 14px !important;
}
.btn.primary {
    background-color: #0064CD;
    background-image: -moz-linear-gradient(center top , #049CDB, #0064CD);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E6E6E6;
    background-image: linear-gradient(#FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 11px !important;
    line-height: normal;
    padding: 4px 6px !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    transition: all 0.1s linear 0s;
}